#animals:target {
    box-shadow: 2px 2px 2px green;
    border: 3px solid green;
}

#animal-button {
    display: none;
}

#animal-button:target {
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    width: 70%;
    text-align: justify;
}